body {
  margin: 0;
  padding: 0;
  background-color: #F7F7FF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.red {
  color: #D33D3B;
}

.dark {
  color: #495867;
}

.PresetSetter {
  background: #495867;
  padding: 2vh 0;
  color: #BDD5EA;
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100vw;
  height: 20vh;
  font-size: 1.5vh;
}

.PresetSetter h1 {
  font-size: 3vh;
}

.PresetSetter select {
  font-size: 3vh;
}

.sliders {
  position: fixed;
  top: 14vh;
  height: 70vh;
  width: 100vw;
  overflow-y: scroll;
  padding: 1vh;
  background-color: #F7F7FF;
}

.AdjustmentSlider {
  padding: 10px;
  background: #F7F7FF;
  color: #495867;
}

.AdjustmentSlider input {

  transform: rotate(180deg);
}

.ProgressTracker {
  position: fixed;
  top: 80vh;
  margin: 0 auto;
  background-color: #BDD5EA;
  color: #495867;
  width: 100vw;
}

.ProgressTracker meter {
  width: 100%;
  margin-top: 0;
}

.ProgressTracker p {
  color: #D33D3B;
}

input.slider {
  width: 100%;
}

/* .socials {
  position: fixed;
  top: calc(100vh - 56px);
  bottom: 0;
  width: 100%;
} */
